//TYPO
$sans-serif : 	'Poppins', sans-serif;
$serif : 		'Playfair Display', serif;

//Frame
$w-frame : 15px;

//Colors 
$black : #000;
$white : #fff;
$primary: #f0c330;

//FONT SIZE 
$fs-s: 		0.7rem;
$fs-base : 	1rem;
$fs-m : 	1.5rem;
$fs-l : 	1.65rem;
$fs-xl : 	3rem;

//FONT WEIGHT
$fw-base : 	400;
$fw-m : 	600;

//LINE HEIGHT
$lh-14 : 60px;

//Padding - Margin
$xs : 	5px;
$s : 	10px;
$m : 	20px;
$l: 	50px;
$xl : 	100px;